.root {
  display: flex;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.aside {
  color: #fff;
  display: flex;
  flex-basis: 13rem;
  flex-direction: column;
  flex-shrink: 0;
  padding: 1rem;
}

.article {
  align-content: stretch;
  background: #111;
  display: flex;
  flex-grow: 1;
}
