<div class="container">
  <div class="content">
    <h1>Current User</h1>
    <h2>Roles</h2>
    <p>These are the roles that you currently have at your projects.</p>

    <%= if length(@roles) == 0 do %>
      <p>
        <strong>You have no roles at any projects.</strong>
      </p>
    <% else %>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Role</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= Enum.map @roles, fn(role) -> %>
            <tr>
              <td>
                <%= link(role.project.name, to: project_path(@conn, :show, role.project)) %>
              </td>
              <td>Admin</td>
              <td>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <h2>Create new project</h2>
    <p>You will be created as an admin of the new project</p>
    <%= form_for @new_project, project_path(@conn, :create), fn f -> %>

      <div class="field">
        <label class="label">
          Name
        </label>
        <div class="control">
          <%= text_input f, :name, class: "input" %>
        </div>
      </div>

      <%= submit "Submit" %>
    <% end %>
  </div>
</div>
