.root {
  color: #fff;
  font-family: monospace;
  font-size: 0.8rem;
  line-height: 1.6;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 1rem;
  unicode-bidi: embed;
  white-space: pre;
  width: 100%;
}
